<!DOCTYPE html>
<html>

<head>
    <title>About Weather</title>
    <link rel="icon" href="./image/1.png">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/image/exx.jpg"></img>
    </div>

    {{>footer}}
</body>

</html>